<app-header [title]="title" [isVisible]="true" (close)="close()"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header color="secondary">{{ word.en }}</ion-card-header>
    <ion-list lines="none">
      <ion-item>
        <ion-label class="flex">
          <span>{{ word.en }}</span>
          <span>{{ word.ua }}</span>
        </ion-label>
      </ion-item>
      <ion-item class="center">
        <ion-label>Dates: </ion-label>
      </ion-item>
      <ion-item class="margin" *ngFor="let status of word.repeatDates">
        <ion-icon slot="end" name="today-outline"></ion-icon>
        <ion-checkbox 
          disabled
          mode="ios"
          slot="start"
          [checked]="status.status"
          color="success">
        </ion-checkbox>
        <ion-label>{{ status.date | date:'longDate'}}</ion-label>
      </ion-item>
      <ion-item class="center" *ngIf="word.example">
        <ion-label>Example: </ion-label>
      </ion-item>
      <ion-item class="center" *ngIf="word.example">
        <ion-label style="white-space: pre-wrap;">{{ word.example }}</ion-label>
      </ion-item>
    </ion-list>
    <!-- <div class="center">
      <ion-button color="secondary" (click)="practice()">
        Practice
      </ion-button>
    </div>
    <ion-card-content cdkDropListGroup>
      <div
        class="buttons"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
        <div class="char-button" *ngFor="let button of buttons" cdkDrag>{{ button | uppercase }}</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <pre>
      export class Iterable &#123;
        *[Symbol.iterator]() &#123;
          for (const [key, value] of Object.entries(this)) &#123;
            yield &#123; key, value };
          }
        }
      }
      <code>
      </code>
    </pre>
  </ion-card> -->
</ion-content> 