<app-header [title]="title"></app-header>

<ion-content>
  <ion-card>
    <div class="canvas-container">
      <canvas
        baseChart
        [labels]="doughnutChartLabels"
        [data]="doughnutChartData"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
  </ion-card>
  <ion-card>
    <div class="canvas-container">
      <canvas 
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </ion-card>
</ion-content>
