ion-content {

  .doughnut {
    height: 11.8rem;
  }

  .line {
    height: 11.7rem;
  }

  ion-card {
    margin-top: 1.3rem;
    border-radius: 10px;

    .canvas-container {
      display: block;
      margin-bottom: .5rem;
    }
  }
}
