ion-searchbar {
  margin-top: .7rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s;

  ::ng-deep .searchbar-input {
    border-radius: 10px;
  }

  &:focus-within {
    width: 100%;
  }

  ::ng-deep .searchbar-search-icon.sc-ion-searchbar-md {
    left: 10px;
    top: 10px;
    width: 21px;
    height: 21px;
  }
}