<app-header [title]="title" [isVisible]="true" (close)="close()"></app-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-item>
        <ion-label>English</ion-label>
        <ion-input formControlName="en"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Ukranian</ion-label>
        <ion-input formControlName="ua"></ion-input>
      </ion-item>
    </ion-card>
  </form>
  <div class="button_center">
    <ion-button
      [disabled]="form.invalid"
      color="success"
      (click)="onFormSubmit()">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>