<ion-item-sliding>
  <ion-item (click)="onItemClick(word)">
    <div 
      [ngStyle]="{'background-color': word.count === 3 ? '#befad5' : '#c4f6fc'}"
      class="circle_stat">
      {{ word.repeatDates && word.repeatDates.length ? word.count : '&#8734;' }}
    </div>
    <ion-label class="ion-label">
      <span class="dark-blue">{{ word.en }}</span>
      <span>{{ word.ua }}</span>
    </ion-label>
    <ion-button
      (click)="speak(word.en);$event.stopPropagation();"
      slot="end" 
      fill="clear"
      class="only-icon">
      <ion-icon slot="icon-only" color="danger" name="play-circle"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="onItemRemove(word.id)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option color="success" (click)="onItemEdit(word)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
