<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dictionary">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sets">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Sets</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="menuCtrl.toggle()">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
