ion-content {
  --background: none;
  background-image: url('src/assets/background.svg');

  overflow-y: auto !important;

  .header {
    text-align: center;
  }

  ion-card {
    border-radius: 10px;
    height: 3rem;

    &:first-child {
      margin-top: 9rem;
    }
  }

  .button_center {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-text {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: .5rem;
      color: var(--ion-color-primary-tint);
    }

    ion-button {
      --border-radius: 20px;
      margin-bottom: .5rem;
    }
  }
}
