<!-- <app-header [title]="title"></app-header> -->

<ion-content>
  <div class="header">
    <h3>Sign In</h3>
  </div>
  <form [formGroup]="form">
    <ion-card>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-card>
    <div class="button_center">
      <ion-button 
        [disabled]="form.invalid"
        (click)="signIn()"
        color="success">Sign In
      </ion-button>
      <ion-text (click)="toRegisterPage()">Don't have an account? &nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-text>
    </div>
  </form>
  <div style="text-align:center;margin-top: 1rem;">
    <ion-button>
      <ion-icon name="logo-google"></ion-icon>&nbsp;
      Sign in with Goggle
    </ion-button>
  </div>
</ion-content>
