<app-header [title]="title"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-label>Progress: 33%</ion-label>
          <ion-progress-bar value="0.3" color="success"></ion-progress-bar>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-label>Progress: 33%</ion-label>
          <ion-progress-bar value="0.3" color="success"></ion-progress-bar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
