ion-content {
  ion-col {
    &:first-child {
      padding-right: 0;
    }
    &:nth-child(2) {
      padding-left: 0;
    }
  }

  ion-card {
    border-radius: 10px;
    height: 10rem;

    ion-label {
      position: absolute;
      bottom: 8px;
      left: 2.5rem;
    }

    ion-progress-bar {
      position: absolute;
      bottom: 0;
    }
  }
}
